<shared-header></shared-header>

<div class="p-6 space-y-8 max-w-7xl mx-auto overflow-hidden">

  <div class="flex items-center justify-center pt-4">
    <h1 class="text-2xl sm:text-4xl text-center font-semibold text-gray-800">
      Gestión de Vehículos
    </h1>
  </div>

  <div class="flex flex-col md:flex-row md:flex-wrap justify-center gap-6 items-center">
    <ng-container *ngFor="let car of cars; index as i">
      <car-card [car]="car"></car-card>
    </ng-container>
  </div>

  <div class="fixed bottom-6 right-6 z-50">
    <button class="flex items-center space-x-1 bg-mydarkblue text-white px-4 py-2 rounded-md shadow-lg hover:bg-blue-900 transition button" (click)="openModal()">
      <span>Añadir</span>
      <span class="material-icons">add</span>
    </button>
  </div>


</div>

<cars-modal-car
  *ngIf="showModalEdit"
  [visible]="showModalEdit"
  [title]="'Añadir Coche'"
  (confirm)="handleNewCar($event)"
  (cancel)="closeModal()">
</cars-modal-car>
