.container {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.circle,
.circle-border {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.circle {
  z-index: 1;
  position: relative;
  background: white;
  transform: scale(1);
  animation: success-anim 700ms ease;
}

.circle-border {
  z-index: 0;
  position: absolute;
  transform: scale(1.1);
  animation: circle-anim 400ms ease;
  background: rgb(255, 36, 36);
}

@keyframes success-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}
.error::before,
.error::after {
  content: "";
  display: block;
  height: 4px;
  background: rgb(255, 36, 36);
  position: absolute;
}

.error::before {
  width: 70px;
  top: 48%;
  left: 12%;
  transform: rotateZ(50deg);
}

.error::after {
  width: 70px;
  top: 48%;
  left: 12%;
  transform: rotateZ(-50deg);
}