<div>

  <div class="text-center">

    <h1 class="mt-15 text-5xl">Reserva De Plazas</h1>

    <form [formGroup]="myForm" class="mt-10 max-w-sm mx-auto flex justify-center">

      <select formControlName="selectedMap" class="border max-sm:w-50 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " name="" id="">
          <option [value]="'mapa1'" selected>Mapa 1</option>
          <option [value]="'mapa2'">Mapa 2</option>
          <option [value]="'mapa3'">Mapa 3</option>
          <option [value]="'mapa4'">Mapa 4</option>
          <option [value]="'mapa5'">Mapa 5</option>
      </select>

    </form>



  </div>

  <div  class="lg:flex lg:justify-center w-full overflow-x-auto">

    <svg width="800" height="600" viewBox="0 0 800 600" class="w-[800px] block">

      <!-- Imagen de fondo -->

      <image
        [attr.href]="'./assets/img/mapas/' + myForm.get('selectedMap')?.value + '.png'"
        width="800"
        height="600"
      />


      <!-- Usar ngFor para iterar sobre los puntos y agregar círculos con colores -->
      @for (point of points[myForm.get('selectedMap')?.value]; track $index) {
        <g
          [attr.transform]="'translate(' + (point.x - 23) + ',' + (point.y-25) + ') rotate(' + point.direccion + ', 17, 22)'"
        >

          <!-- Aplicamos el color del filtro -->
          <use
            xlink:href="./assets/svg/CarIcon.svg#custom-marker"
            width="35" height="44"
            [attr.filter]="point.color">
          </use>

        </g>
      }
    </svg>

  </div>
</div>
