@if (isLoaded) {

  <div class="lg:flex lg:justify-center w-full overflow-x-auto">
    <svg #svgElement width="800" height="600" viewBox="0 0 800 600" class="w-[800px] block">
      <image
        [attr.href]="imageUrl"
        width="800"
        height="600"
      />

      @for (space of spaces; track $index) {
        <g
          [attr.transform]="'translate(' + ((space.x) - 23) + ',' + (space.y - 25) + ') rotate(' + space.direction + ', 17, 22)'"
          (click)="toggleModal(space.id)"
        >
          <use
            xlink:href="./assets/svg/CarIcon.svg#custom-marker"
            width="35" height="44"
            [attr.filter]="space.state">
          </use>
        </g>
      }
    </svg>
  </div>

}

<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 max-sm:my-30" [hidden]="modal" id="modal">
  <space-data (modalEmitter)="modal = !modal" [spaceData]="this.carData" />
</div>
