<div class="flex flex-wrap justify-center gap-15 m-10">
  <div class="border-card rounded-lg py-2 px-4">
    <h2 class="text-center mt-2 text-2xl">Días Reservados</h2>
    <div class="flex flex-col items-center">Total en {{ getMonthName(month) }}:
       <span class="flex justify-center items-center bg-mydarkblue h-15 w-15 rounded-full text-white">
        {{ data?.totalDaysReserved ?? 0 }}
       </span>
    </div>
    <app-custom-chart [chartOptions]="daysReservedChartOptions"></app-custom-chart>
  </div>
  <div class="border-card rounded-lg py-2 px-4">
    <h2 class="text-center mt-2 text-2xl">Horas Reservadas</h2>
    <div class="flex flex-col items-center">Total en {{ getMonthName(month) }}:
      <span class="flex justify-center items-center bg-mydarkblue h-15 w-15 rounded-full text-white">
       {{ data?.totalHoursReserved ?? 0 }}
      </span>
   </div>
    <app-custom-chart [chartOptions]="hoursReservedChartOptions"></app-custom-chart>
  </div>
  <div class="border-card rounded-lg py-2 px-4">
    <h2 class="text-center mt-2 text-2xl">Duración Promedia de Reserva</h2>
    <div class="flex flex-col items-center">Promedio en {{ getMonthName(month) }}:
      <span class="flex justify-center items-center bg-mydarkblue h-15 w-15 rounded-full text-white">
       {{ data?.averageSessionDuration ?? 0 }}
      </span>
   </div>
    <app-custom-chart [chartOptions]="avgDurationChartOptions"></app-custom-chart>
  </div>
  <div class="border-card rounded-lg py-2 px-4">
    <h2 class="text-center mt-2 text-2xl">Reservas Confirmadas</h2>
    <div class="flex flex-col items-center">Total en {{ getMonthName(month) }}:
      <span class="flex justify-center items-center bg-mydarkblue h-15 w-15 rounded-full text-white">
       {{ data?.confirmedReservations ?? 0 }}
      </span>
   </div>
    <app-custom-chart [chartOptions]="confirmedStatsChartOptions"></app-custom-chart>
  </div>
  <div class="border-card rounded-lg py-2 px-4">
    <h2 class="text-center mt-2 text-2xl">Reservas No Confirmadas</h2>
    <div class="flex flex-col items-center">Total en {{ getMonthName(month) }}:
      <span class="flex justify-center items-center bg-mydarkblue h-15 w-15 rounded-full text-white">
       {{ data?.unconfirmedReservations ?? 0 }}
      </span>
   </div>
    <app-custom-chart [chartOptions]="unconfirmedStatsChartOptions"></app-custom-chart>
  </div>
</div>