<div class="flex flex-col sm:gap-15 gap-10 px-4 py-10 sm:px-10 sm:py-12 lg:p-20 md:justify-center">
  <div class="flex flex-col md:flex-row items-center gap-10">
    <div>
      <img src="/assets/logo.png" alt="logo" class="object-contain" />
    </div>
    <div class="lg:w-1/2">
      <div
        class="flex flex-col gap-3 text-left text-[16px] sm:text-[18px] lg:text-[20px]"
      >
        <p class="text-4xl text-center md:text-left font-bold pb-1">
          {{ user?.name }} {{ user?.surname }}
        </p>
        <p class="break-words text-center md:text-left">
          <span class="font-semibold">Correo electrónico:</span>
          {{ user?.email }}
        </p>
        <p>
          <span class="font-semibold">Puesto:</span>
          {{ user?.jobPosition | underscoreToSpace }}
        </p>
        <p>
          <span class="font-semibold">Delegación:</span> {{ user?.delegation }}
        </p>
        <p *ngIf="user?.strikes">
          <span class="font-semibold">Strikes:</span> {{ user?.strikes }}
        </p>
      </div>
    </div>
  </div>

  <div
    class="grid gap-6 w-full px-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
  >
    <button
      class="h-14 md:h-10 max-sm:w-full md:min-w-[168px] rounded-lg bg-[#0067B8] text-white flex items-center justify-center gap-2 px-6 cursor-pointer"
      (click)="editModal()"
    >
      <span>Editar Perfil</span>
      <i class="material-icons">edit</i>
    </button>

    <button
      class="h-14 md:h-10 max-sm:w-full md:min-w-[168px] rounded-lg bg-[#0067B8] text-white flex items-center justify-center gap-2 px-6 cursor-pointer"
      (click)="passwordModal()"
    >
      <span>Contraseña</span>
      <i class="material-icons">lock_person</i>
    </button>

    <button
      class="h-14 md:h-10 max-sm:w-full md:min-w-[168px] rounded-lg bg-[#0067B8] text-white flex items-center justify-center gap-2 px-6 cursor-pointer"
      (click)="navigate('/vehicles')"
    >
      <span>Mis Vehículos</span>
      <i class="material-icons">directions_car</i>
    </button>

    <button
      class="h-14 md:h-10 max-sm:w-full md:min-w-[168px] rounded-lg bg-[#0067B8] text-white flex items-center justify-center gap-2 px-6 cursor-pointer"
      (click)="navigate('/booking')"
    >
      <span>Mis Reservas</span>
      <i class="material-icons">calendar_month</i>
    </button>

    <button
      class="h-14 md:h-10 max-sm:w-full md:min-w-[168px] rounded-lg bg-[#0067B8] text-white flex items-center justify-center gap-2 px-6 cursor-pointer"
      (click)="navigate('/user-dashboard')"
    >
      <span>Mi Dashboard</span>
      <i class="material-icons">dashboard</i>
    </button>
  </div>
</div>

<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 max-sm:my-30">
  <password-changer
    [hidden]="passwdModal"
    (warningEmitter)="cancelChanges()"
    (modalEmitter)="closeModal()"
  >
  </password-changer>

  <edit-profile
    [hidden]="edModal"
    [originalName]="user?.name || ''"
    [originalSurname]="user?.surname || ''"
    [originalEmail]="user?.email || ''"
    (warningEmitter)="cancelChanges()"
  >
  </edit-profile>
</div>
