<auth-card  tabindex="0" (keydown.enter)="resetPassword()" >
  <div class="flex flex-col space-y-6">
    <h1 class="text-2xl font-bold text-center">Cambie su contraseña</h1>

    <div class="space-y-6">
      <shared-input type="password" icon="lock" [(ngModel)]="new_password"  placeholder="Nueva contraseña"></shared-input>
      <shared-input type="password" icon="lock" [(ngModel)]="repeat_password"  placeholder="Confirmar Contraseña "></shared-input>

      <div class="flex items-center justify-center">
        <app-custom-button
          class="h-10 rounded-lg"
          label="Enviar"
          type="submit"
          color="dark-blue"
          iconSize="15px"
          (onClick)="resetPassword()">
        </app-custom-button>
      </div>
    </div>
  </div>
</auth-card>