<auth-card  tabindex="0" (keydown.enter)="sendEmail()" >
  <div class="flex flex-col space-y-6">
    <h1 class="text-2xl font-bold text-center">Introduzca su correo electrónico</h1>

    <div class="space-y-6">
      <shared-input type="email" icon="mail" [(ngModel)]="email" placeholder="Correo electrónico"></shared-input>

      <div class="flex items-center justify-center">
        <app-custom-button
          class="h-10 rounded-lg"
          label="Enviar"
          type="submit"
          color="dark-blue"
          iconSize="15px"
          (onClick)="sendEmail()">
        </app-custom-button>
      </div>
    </div>
  </div>
</auth-card>