.bg-mylightblue {
    background-color: var(--light-blue);
}

.bg-mydarkblue {
    background-color: var(--dark-blue);
}

.color-darkblue {
    color: var(--dark-blue);
}

.bg-myred {
  background-color: var(--red);
}

.border-card {
    border: 1px solid var(--dark-blue);
}
