<div class="max-w-xs rounded-lg shadow-md overflow-hidden border-card m-20">

    <div class="bg-mylightblue p-3">
        <h2 class="text-center text-black font-semibold text-lg">Nombre: Coche 1</h2>
    </div>

    <div class="p-4 space-y-2">
        <p class="text-black">Matrícula: XXXXXX</p>
        <p class="text-black">Enchufe: no especificado</p>

        <div class="flex justify-between pt-4">
            <button class="flex items-center space-x-1 bg-mydarkblue text-white px-4 py-2 rounded-md">
                <span class="material-icons">edit</span>
                <span>Editar</span>
            </button>
            <button class="flex items-center space-x-1 bg-mydarkblue text-white px-4 py-2 rounded-md">
                <span class="material-icons">delete</span>
                <span>Eliminar</span>
            </button>
        </div>
    </div>
</div>