<h1 class="my-5 text-3xl text-center font-semibold">
    Gestión de usuarios
</h1>


<form autocomplete="off" [formGroup]="myForm">
    <div class="flex flex-col sm:flex-row justify-center flex-wrap gap-4">
        <div class="flex-1 min-w-[300px] max-w-[500px] relative">
            <input type="email" id="email" name="email" class="w-full border p-2 rounded" formControlName="email"
                placeholder="Búsqueda por email">
            <span
                class="material-icons absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer text-gray-500">search</span>
        </div>
    </div>
</form>

<admin-users-data></admin-users-data>