@if (bookingList && bookingList.content.length > 0) {
<div class="hidden lg:block">
  <table
    class="divide-y divide-gray-200 border border-gray-300 rounded-lg shadow-sm mx-auto my-10"
  >
    <thead class="headertable">
      <tr class="text-black uppercase text-sm tracking-wider">
        <th class="px-4 py-2 text-center">Fecha</th>
        <th class="px-6 py-2 text-center">Usuario</th>
        <th class="px-4 py-2 text-center">Hora de la reserva</th>
        <th class="px-4 py-2 text-center">Estado</th>
        <th class="px-4 py-2 text-center">Cancelar reserva</th>
      </tr>
    </thead>
    <tbody>
      @for (booking of bookingList.content; track $index) {
      <tr class="bgtable divide-y divide-gray-200">
        <td class="px-6 py-2 text-center">
          {{ booking.date | date : "dd/MM/yyyy" }}
        </td>
        <td class="px-4 py-2 text-center">{{ booking.userName }}</td>
        <td class="px-4 py-2 text-center">
          {{ booking.startTime | slice : 0 : -3 }} a
          {{ booking.endTime | slice : 0 : -3 }}
        </td>
        <td
          class="px-4 py-2 font-semibold text-center"
          [ngClass]="{
            'color-green': booking.status === 'Active',
            'color-lightblue': booking.status === 'Pending',
            'color-red':
              booking.status === 'Cancelled' || booking.status === 'Strike',
            'color-gray': booking.status === 'Completed',
            'color-black': booking.status === 'Blocked'
          }"
        >
          {{ getStatusLabel(booking.status) }}
        </td>
        <td class="px-4 py-2 text-center">
          <div class="flex justify-center items-center">
                  <button
                    *ngIf="booking.status === 'Pending'"
                    class="text-red-600 text-lg cursor-pointer"
                    (click)="warningCancel()"
                  >
                    <i class="material-icons text-base">close</i>
                  </button>
                </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <pagination
    [currentPage]="currentPage"
    [totalPages]="bookingList.totalPages"
    (pageChange)="pageChange($event)"
  ></pagination>

  <ng-template #cancelContent>
    <p>¿Estás seguro de que deseas cancelar esta reserva?</p>
  </ng-template>

  <ng-template #cancelButtons>
    <button
      class="bg-red-600 px-4 py-2 rounded text-white"
      (click)="handleModalConfirm()"
    >
      Eliminar
    </button>
    <button
      class="bg-gray-400 px-4 py-2 rounded text-black"
      (click)="handleModalCancel()"
    >
      Cancelar
    </button>
  </ng-template>

  <shared-custom-modal
    [title]="'Confirmar cancelación'"
    [visible]="modalVisible"
    [container]="cancelContent"
    [buttons]="cancelButtons"
    (confirm)="handleModalConfirm()"
    (cancel)="handleModalCancel()"
  />
</div>

<!-- VISTA MÓVIL: CARDS -->
<div class="lg:hidden grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div
    *ngFor="let booking of mobilePaginatedContent"
    class="border-card rounded-lg shadow-sm p-4"
  >
    <div
      class="flex justify-between items-center border-b border-gray-700 pb-2 mb-2"
    >
      <div class="flex flex-col text-sm text-gray-600 text-center w-full">
        <span>Reserva de {{ booking.userName }}</span>
        <span class="font-semibold">{{
          booking.date | date : "dd/MM/yyyy"
        }}</span>
      </div>
    </div>

    <div class="grid grid-cols-2 grid-rows-2 gap-2 text-sm mt-2">
      <!-- Fila 1, Col 1: Hora -->
      <div>
        <div class="font-medium">Hora:</div>
        <div>
          {{ booking.startTime | slice : 0 : -3 }} a
          {{ booking.endTime | slice : 0 : -3 }}
        </div>
      </div>
    
      <!-- Fila 1, Col 2: celda vacía -->
      <div></div>
    
      <!-- Fila 2, Col 1: Estado -->
      <div>
        <div class="font-medium">Estado:</div>
        <div
          [ngClass]="{
            'color-green': booking.status === 'Active',
            'color-lightblue': booking.status === 'Pending',
            'color-red': booking.status === 'Cancelled' || booking.status === 'Strike',
            'color-gray': booking.status === 'Completed',
            'color-black': booking.status === 'Blocked'
          }"
          class="font-semibold"
        >
          {{ getStatusLabel(booking.status) }}
        </div>
      </div>
    
      <!-- Fila 2, Col 2: Botón cancel -->
      <div class="text-right relative">
        <div class="absolute bottom-0 left-0">
          <button
            *ngIf="booking.status === 'Pending'"
            class="text-red-600 font-medium cursor-pointer"
            (click)="warningCancel()"
          >
            <p>Cancelar reserva</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación para móviles -->
  <div class="col-span-full">
    <pagination
      [currentPage]="currentPage"
      [totalPages]="mobileTotalPages"
      (pageChange)="pageChange($event)"
    ></pagination>
  </div>
</div>

} @else {
<p>No hay reservas</p>
}
