<div
  class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0"
>
  <div class="fixed inset-0 transition-opacity">
    <div
      (click)="warningClose()"
      class="absolute inset-0 bg-gray-900 opacity-75"
    ></div>
  </div>
  <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
    >&#8203;</span
  >
  <div
    class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modal-headline"
  >
    <div class="bg-blue-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
      <h1 class="text-white text-center text-3xl">
        Modificación de Contraseña
      </h1>
    </div>
    <div>
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

        <div [hidden]="!warningView" class="text-center">
          <h1 class="md:text-4xl text-3xl">¡Cuidado!</h1>
          <p class="my-10 md:text-2xl">Esta a punto de realizar una acción irreversible. Debe crear una contraseña segura y no compartirla.</p>
          
          <div id="modal"
          >
            <span class="material-icons text-blue-600 opacity-10  z-0 select-none" id="icon">priority_high</span>
          </div>

        </div>

        <div [hidden]="warningView" class="grid grid-cols-1 text-[17px] mx-5 mt-5">
          <shared-input type="password" icon="key"  [(ngModel)]="passwordOG"      placeholder="Contraseña Original"></shared-input>
          <shared-input type="password" icon="lock" [(ngModel)]="passwordNew"     placeholder="Contraseña Nueva"></shared-input>
          <shared-input type="password" icon="lock" [(ngModel)]="passwordConfirm" placeholder="Contraseña Confirmada"></shared-input>
        </div>
      </div>
      <div class="bg-gray-200 px-4 py-3 grid grid-cols-3 z-99">
        <app-custom-button
          color="gray"
          icon="close"
          label="Cancelar"
          class="rounded"
          (onClick)="warningClose()">
        </app-custom-button>

        <div class=""></div>

        <app-custom-button
          color="dark-blue"
          icon="arrow_forward"
          label="Continuar"
          class="rounded"
          (onClick)="acceptWarning()"
          [hidden]="!warningView">
        </app-custom-button>

        <app-custom-button
          color="dark-blue"
          icon="book"
          label="Reservar"
          class="rounded"
          (onClick)="saveNewPassword()"
          [hidden]="warningView">
        </app-custom-button>
      </div>
    </div>
  </div>
</div>
