<header class="bg-mydark-blue text-white flex justify-between items-center px-6 py-3 shadow-md">

  <div class="flex items-center">
      <img src="assets/logo.png" alt="Logo" class="h-10">
  </div>

  <div class="hidden md:flex gap-4" *ngIf="token">
      <app-custom-button label="Bienvenido, {{name}}" icon="person" (onClick)="navigate()" >
      </app-custom-button>
      <app-custom-button label="Salir" icon="logout" color="red" class="rounded-lg" (onClick)="logout()">
      </app-custom-button>
  </div>

  <app-custom-button label="" icon="menu" iconSize="36px" class="md:hidden flex items-center" (onClick)="toggleMenu()"></app-custom-button>

  <div *ngIf="menuOpen && token" class="absolute top-20 right-4 rounded-lg shadow-lg py-3 px-5 flex flex-col space-y-2 md:hidden">
      <app-custom-button label="Bienvenido, {{name}}" icon="person" class="rounded-lg" (onClick)="navigate()">
      </app-custom-button>
      <app-custom-button label="Salir" icon="logout" color="red" class="rounded-lg" (onClick)="logout()">
      </app-custom-button>
  </div>
</header>
