<div class="flex justify-center items-center">
  <div class="w-1/2">
    <img src="/assets/logo.png" alt="logo" class="w-[200px] h-auto object-contain">
  </div>
  <div class="w-1/2 pl-4">
    <div class="flex flex-col gap-1">
      <p class="text-lg font-bold">{{user.name}}</p>
      <p class="text-sm">Correo electrónico: {{user.email}}</p>
      <p class="text-sm">Puesto: {{user.jobPosition}}</p>
      <p class="text-sm">Delegación: {{user.workCenterName}}</p>
      <p class="text-sm">Strikes: {{user.strikes}}</p>
      <p class="text-sm">Rol: {{user.role}}</p>
    </div>
  </div>
</div>
