<ng-template #content>
  <div class="bg-white" >
    <div [hidden]="!warningView" class="flex justify-center items-center text-center px-4">
      <shared-warning-message
        [title]="'¡Aviso!'"
        [text]="'Al modificar su perfil, deberá volver a iniciar sesión para confirmar los cambios. ¿Está de acuerdo?'"
      ></shared-warning-message>
    </div>
    <div [hidden]="warningView" class="grid grid-cols-1 gap-4 text-[17px] mx-5 mt-5 max-w-md mx-auto">
      <shared-input type="text" icon="person" [(ngModel)]="name" placeholder="Nombre"></shared-input>
      <shared-input type="text" icon="person" [(ngModel)]="surname" placeholder="Apellidos"></shared-input>
      <shared-input type="text" icon="email" [(ngModel)]="email" placeholder="Correo electrónico"></shared-input>
    </div>
    
  </div>
</ng-template>


<ng-template #buttons>
  <div class="bg-gray-200 px-4 py-3 flex flex-wrap justify-center gap-5">
    <app-custom-button
      color="gray"
      icon="close"
      label="Cancelar"
      class="rounded min-w-[120px] max-w-[130px]"
      (onClick)="warningClose()">
    </app-custom-button>
    <app-custom-button
      color="dark-blue"
      icon="arrow_forward"
      label="Continuar"
      class="rounded min-w-[120px] max-w-[130px]"
      (onClick)="acceptWarning()"
      [hidden]="!warningView">
    </app-custom-button>
    <app-custom-button
      color="dark-blue"
      icon="book"
      label="Guardar"
      class="rounded w-[130px]"
      [hidden]="warningView"
      (onClick)="saveData()">
    </app-custom-button>
  </div>
</ng-template>

<shared-custom-modal
  [title]="'Editar Perfil'"
  [container]="content"
  [buttons]="buttons"
  [visible]="true"
></shared-custom-modal>