<auth-card class="flex flex-col items-center text-center p-6 h-screen justify-center">
  @if (isConfirmation) {
    <h1 class="text-[30px] font-bold" style="color: #0067B8;">EMAIL CONFIRMADO</h1>
    <h2 class="text-[20px] font-bold" style="color: #0067B8;">Inicie sesión</h2>
    <span class="material-icons !text-[60px]" style="color: #00C21D;">
      check
    </span>
  } @else {
    <h1 class="text-[30px] font-bold" style="color: #0067B8;">EMAIL NO CONFIRMADO</h1>
    <span class="material-icons !text-[60px]" style="color: #E30000;">
      close
    </span>
  }
</auth-card>
