.bg-mylight-blue:hover {
    background-color: var(--light-blue);
}

.bg-mydark-blue {
    background-color: var(--dark-blue);
}

a:hover svg {
    fill: white;
}

.active {
    background-color: var(--light-blue);
    color: white;
}