<nav class="fixed top-16 left-0 h-full bg-white w-64 transition-transform duration-300 shadow-lg"
    [ngClass]="{'transform -translate-x-full': !isSidebarOpen}">
    <!-- Logo y Cerrar -->
    <div class="flex justify-between items-center p-2 m-2 border-b border-gray-500">
        <h2 class="text-lg">AutoNext Code</h2>
        <button class="p-2 rounded-sm bg-mydark-blue text-white cursor-pointer" (click)="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
            </svg>
        </button>
    </div>

    <ul class="flex flex-col">
        <li *ngFor="let item of menuItems"
            [routerLink]="[item.route]"
            routerLinkActive="active"
            class="flex items-center justify-between p-2 mx-4 mt-3 rounded-sm bg-gray-300 hover:text-white bg-mylight-blue transition duration-200 h-16 cursor-pointer">
            <div class="flex items-center gap-x-2">
                <div [innerHTML]="item.icon"></div>
                <span>{{ item.name }}</span>
            </div>
        </li>
    </ul>
</nav>

<button class="fixed top-20 left-2 p-2 rounded-sm bg-mydark-blue" (click)="toggleSidebar()" *ngIf="!isSidebarOpen">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm120-80v-560H200v560h120Zm80 0h360v-560H400v560Zm-80 0H200h120Z"/>
    </svg>
</button>